# SPDX-FileCopyrightText: © 2025 HiPhish
# SPDX-License-Identifier: 0BSD

snippet section "A new section"
	==============================================================================
	${1:TITLE}                                                          *${2:tag}*

	

snippet > "Code block"
	>$1
		$0
	<
