# SPDX-FileCopyrightText: © 2022 HiPhish
# SPDX-License-Identifier: 0BSD

priority 100

snippet header "Node header" b
	File: ${1:file},  Node: ${2:node}${3:,  Next: ${4:next}}${5:,  Prev: ${6:prev}}${7:,  Up: ${8:up}}
