# SPDX-FileCopyrightText: © 2023 HiPhish
# SPDX-License-Identifier: 0BSD

extends html
extends javascript

snippet story "Storybook story"
	export default {
		title: '${1:title}',
		$0,
	};

	export const Regular = {
	};
