# SPDX-FileCopyrightText: © 2022 HiPhish
# SPDX-License-Identifier: Unlicense

priority 100

snippet import "Import statement" b
	import ${2:identifier} from ${1:package};

snippet var "Variable definition" b
	var ${1:name} = ${2:value};

snippet let "Variable definition" b
	let ${1:name} = ${2:value};

snippet const "Constant definition" b
	const ${1:name} = ${2:value};

snippet while "while-loop" b
	while (${1:false}) {
		${0:// body}
	}

snippet for "For-loop" b
	for (let ${1:${2:i} = ${3:0}}; ${4:$2 < ${5:n}}; ${6:++${2}}) {
		${0:body}
	}

snippet => "Arrow function"
	($1) => ${2:value}

snippet describe "Test group"
	describe('${1:description}', () => {
		$0
	});

snippet test "Jest test"
	test('${1:description}', ($2) => {
		$0
	});

snippet it "Vitest test"
	it('${1:description}', ($2) => {
		$0
	});
