# SPDX-FileCopyrightText: © 2020 HiPhish
# SPDX-License-Identifier: Unlicense

priority 100

snippet interface "Interface definition"
	interface ${1:Name} {
		$0
	}

snippet /** "Multi-line comment"
	/**
	  * $0
	  */

snippet val "Immutable value (type inferred)"
	val ${1:name} = $0

snippet tval "Immutable value (explicit type)"
	val ${1:name}: ${2:String} = $0

snippet var "Mutable variable (type inferred)"
	var ${1:name} = $0

snippet tvar "Mutable variable (explicit type)"
	var ${1:name}: ${2:String} = $0
