# SPDX-FileCopyrightText: © 2022 HiPhish
# SPDX-License-Identifier: 0BSD

priority 100

snippet M "Lua module"
	local M = {}
	
	$0
	
	return M

snippet for "numeric for loop"
	for ${1:i} = ${2:first}, ${3:last}, ${4:step} do
		$0
	end

snippet forin "for-in loop"
	for ${1:var} in ${2:iterator} do
		$0
	end


# Snippets for testing with Busted
# https://lunarmodules.github.io/busted/

snippet describe "Busted context block"
	describe('${1:Description}', function()
		$0
	end)

snippet it "Busted test"
	it('${1:Does something}', function()
		$0
	end)
