# SPDX-FileCopyrightText: © 2022 HiPhish
# SPDX-License-Identifier: 0BSD

priority 100

snippet from "From module import"
	from ${1:module} import ${2:symbol}

snippet proc "Procedure definition" b
	proc ${1:name}(${2:parameter})${3:: ${4:returnType}} =
		${0:discard}

snippet func "Function definition" b
	func ${1:name}(${2:parameter})${3:: ${4:returnType}} =
		${0:discard}

snippet iterator "Iterator definition" b
	iterator ${1:name}(${2:parameter})${3:: ${4:returnType}} =
		${0:discard}

snippet template "Template definition"
	template ${1:name}(${2:parameter}) =
		${0:discard}

snippet const "Compile-time constant" b
	const ${1:name}${2:: ${3:type}} = ${0:value}

snippet let "Runtime constant" b
	let ${1:name}${2:: ${3:type}} = ${0:value}

snippet var "Runtime variable" b
	var ${1:name}${2:: ${3:type}} = ${0:value}

snippet block "Block statement" b
	block${1: ${2:name}}:
		${0:discard}

snippet for "For-loop" b
	for ${1:binding} in ${2:iterator}:
		${0:discard}

snippet while "While-loop" b
	while ${1:condition}:
		${0:discard}

snippet if "If-block" b
	if ${1:condition}:
		${0:discard}

snippet when "Compile-time condition" b
	when ${1:condition}:
		${0:discard}
