# SPDX-FileCopyrightText: © 2026 HiPhish
# SPDX-License-Identifier: 0BSD

snippet // "Comment"
	(* $0 *)

snippet let "Global binding"
	let ${1:variable} = ${2:value}

snippet letin "Local binding"
	let ${1:variable} = ${2:value} in
	$0
