# SPDX-FileCopyrightText: © 2022 HiPhish
# SPDX-License-Identifier: Unlicense

priority 100

extends javascript

snippet var: "Variable definition (typed)" b
	var ${1:name}: ${2:type} = ${3:value};

snippet let: "Variable definition (typed)" b
	let ${1:name}: ${2:type} = ${3:value};

snippet const: "Constant definition (typed)" b
	const ${1:name}: ${2:type} = ${3:value};

snippet type "Type definiton" b
	type ${1:name} = ${0:definition};
	
