# SPDX-FileCopyrightText: © 2022 HiPhish
# SPDX-License-Identifier: 0BSD

priority 100

snippet set ""
	set ${1:<option>} ${2:<new value>}

snippet map ""
	map ${1:[mode]} ${2:<binding>} ${3:<shortcut function>} ${4:<argument>}

snippet include ""
	include ${1:another-config}
