# Copyright (c) 2018 HiPhish
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

snippet date "Current date in YYYY-MM-DD format" b
	`!v strftime('%Y-%m-%d')` 
endsnippet


# --- Greek letter substitution ----------------------------------------------
snippet @Alpha "Greek letter Α"
Α
endsnippet
snippet @Beta "Greek letter Β"
Β
endsnippet
snippet @Gamma "Greek letter Γ"
Γ
endsnippet
snippet @Delta "Greek letter Δ"
Δ
endsnippet
snippet @Epsilon "Greek letter Ε"
Ε
endsnippet
snippet @Zeta "Greek letter Ζ"
Ζ
endsnippet
snippet @Eta "Greek letter Η"
Η
endsnippet
snippet @Theta "Greek letter Θ"
Θ
endsnippet
snippet @Iota "Greek letter Ι"
Ι
endsnippet
snippet @Kappa "Greek letter Κ"
Κ
endsnippet
snippet @Lamda "Greek letter Λ"
Λ
endsnippet
snippet @Mu "Greek letter Μ"
Μ
endsnippet
snippet @Nu "Greek letter Ν"
Ν
endsnippet
snippet @Xi "Greek letter Ξ"
Ξ
endsnippet
snippet @Omicron "Greek letter Ο"
Ο
endsnippet
snippet @Pi "Greek letter Π"
Π
endsnippet
snippet @Rho "Greek letter Ρ"
Ρ
endsnippet
snippet @Sigma "Greek letter Σ"
Σ
endsnippet
snippet @Tau "Greek letter Τ"
Τ
endsnippet
snippet @Upsilon "Greek letter Υ"
Υ
endsnippet
snippet @Phi "Greek letter Φ"
Φ
endsnippet
snippet @Chi "Greek letter Χ"
Χ
endsnippet
snippet @Psi "Greek letter Ψ"
Ψ
endsnippet
snippet @Omega "Greek letter Ω"
Ω
endsnippet
snippet @alpha "Greek letter α"
α
endsnippet
snippet @beta "Greek letter β"
β
endsnippet
snippet @gamma "Greek letter γ"
γ
endsnippet
snippet @delta "Greek letter δ"
δ
endsnippet
snippet @epsilon "Greek letter ε"
ε
endsnippet
snippet @zeta "Greek letter ζ"
ζ
endsnippet
snippet @eta "Greek letter η"
η
endsnippet
snippet @theta "Greek letter θ"
θ
endsnippet
snippet @iota "Greek letter ι"
ι
endsnippet
snippet @kappa "Greek letter κ"
κ
endsnippet
snippet @lamda "Greek letter λ"
λ
endsnippet
snippet @mu "Greek letter μ"
μ
endsnippet
snippet @nu "Greek letter ν"
ν
endsnippet
snippet @xi "Greek letter ξ"
ξ
endsnippet
snippet @omicron "Greek letter ο"
ο
endsnippet
snippet @pi "Greek letter π"
π
endsnippet
snippet @rho "Greek letter ρ"
ρ
endsnippet
snippet @final "Greek letter ς"
ς
endsnippet
snippet @sigma "Greek letter σ"
σ
endsnippet
snippet @tau "Greek letter τ"
τ
endsnippet
snippet @upsilon "Greek letter υ"
υ
endsnippet
snippet @phi "Greek letter φ"
φ
endsnippet
snippet @chi "Greek letter χ"
χ
endsnippet
snippet @psi "Greek letter ψ"
ψ
endsnippet
snippet @omega "Greek letter ω"
ω
endsnippet

