snippet f "Class field definition"
${1:private} ${2:var} ${3:name} = ${4:value};
endsnippet

snippet v "Variable definition"
${1:var} ${2:name} = ${3:value};
endsnippet

snippet ims "import static"
import static ${0:package}
endsnippet

snippet try "try/catch" b
try {
	$1${VISUAL}
} catch (${2:Exception} ${3:e}) {
	${4:e.printStackTrace();}
}
endsnippet

snippet twr "Try with resources"
try (${1:Resource})
{
	$2${VISUAL}
} catch (${3:Exception} ${4:e}) {
	${5:e.printStackTrace();}
}
endsnippet
	

snippet mthd "Method definition" b
${1:private} ${2:void} ${3:name}($4) {
	$0
}
endsnippet

snippet field "Field variable" b
${1:private} ${2:int} ${3:name}$4;$0
endsnippet
