snippet try "try/catch" b
try {
	$1${VISUAL}
} catch (${2:Exception} ${3:e}){
	${4:e.printStackTrace();}
}
endsnippet

snippet mthd "Method definition" b
${1:private} ${2:void} ${3:name}($4) {
	$0
}
endsnippet

snippet field "Field variable" b
${1:private} ${2:int} ${3:name}$4;$0
endsnippet
