# Copyright (c) 2018 HiPhish
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# A generic S-expression
snippet sp "S-expression"
(${1:${VISUAL:s-expression}})$0
endsnippet


# Defintion macros
snippet defvar "Variable definition" b
(defvar *${1:name}* ${2:value})
endsnippet

snippet defparameter "Variable definition" b
(defparameter *${1:name}* ${2:value})
endsnippet

snippet defun "Function definition" b
(defun ${1:name} (${2:lambda-list})
  ${3:"${4:Documentation string}"
  }${0:(body)})
endsnippet

snippet defstruct "Structure definition" b
(defstruct ${1:name}
  ${0:(body)})
endsnippet

snippet defmacro "Macro definition" b
(defmacro ${1:name} (${2:lambda-list})
  ${3:"${4:Documentation string}"
  }${0:(body)})
endsnippet


# Flow control
snippet if "If-expression"
(if ${1:(${2:predicate})}
  ${3:(${4:then-expression})})
endsnippet

snippet ife "If-expression with alternative"
(if ${1:(${2:predicate})}
  ${3:(${4:then-expression})}
  ${5:(${6:else-expression})})
endsnippet

snippet cond "Conditional"
(cond
  (${1:condition} ${2:(body)})${3:
  case+}$0)
endsnippet

snippet ecase "Case-switch."
(ecase ${1:keyform}
  (${2:condition} ${3:(body)})${4:
  case+})
endsnippet

snippet case+ "Case of a condition"
(${1:condition} ${2:(body)})${3:
case+}
endsnippet


# Local defintions
snippet let "Local variables"
(let ((${1:name} ${2:definition})${3: 
      letitem+}$4)
  ${0:(body)})
endsnippet

snippet let* "Local variables"
(let* ((${1:name} ${2:definition})${3: 
       letitem+}$4)
  ${0:(body)})
endsnippet

snippet letitem+ "Item of let/let*"
(${1:name} ${2:definition})${3:
letitem+}
endsnippet


# Function-related
snippet lambda "Anonymous function"
(lambda (${1:args}) ${2:(body)})
endsnippet


# Looping macros
snippet dotimes "Fixed-number loop"
(dotimes (${1:i} ${2:n} ${3:result})
  ${0:(body)})
endsnippet

snippet dolist "Loop over list items"
(dolist (${1:item} ${2:items} ${3:result})
  ${0:(body)})
endsnippet

snippet do "Do-loop"
(do (${1:dovar+}$2)
    (${3:test} ${4:expr})
  ${0:(body)})
endsnippet

snippet dovar+ "Do-loop variable" w
(${1:var} ${2:def})${3:
dovar+}$4
endsnippet
