# SPDX-FileCopyrightText: © 2026 HiPhish
# SPDX-License-Identifier: 0BSD


# REUSE-IgnoreStart
snippet reuse "REUSE license and copyright header"
	`printf(&commentstring, '')`SPDX-FileCopyrightText: © `strftime('%Y')` HiPhish
	`printf(&commentstring, '')`SPDX-License-Identifier: 0BSD
# REUSE-IgnoreEnd
